---
---

<div class="flex items-center gap-2">
  <button
    id="menu-toggle"
    class="text-2xl hidden md:block text-gray-700 dark:text-gray-300"
    aria-label="Abrir menú">
    ☰
  </button>
  <h1 class="text-lg md:text-2xl font-bold text-gray-900 dark:text-white whitespace-nowrap">
    Cinéfilo Interactivo
  </h1>
</div>
