---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<Welcome />
	<h2 class="text-xl font-semibold mb-4">Explora películas populares</h2>
  <!-- aquí irán tus tarjetas o buscador -->
</Layout>
